.button {
  display: flex;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #db0339;
  color: white;
  padding: 0.75rem 3rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #ff2e63;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #252a34;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #565b68;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .button {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 2vw;
    margin-left: 3vw;
    justify-content: center;
    align-items: center;
  }
  .badge {
    margin: auto 2vw;
    margin-right: 0;
    padding: 1vh 4vw;
  }
}
