@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
html::-webkit-scrollbar {
  width: 20px;
}
html::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #db0339;
}
body {
  margin: 0;
  background-color: #252a34;
}
